
.contador {
    align-self: center;
    margin:10px;
}
.producto_descripcion {
    margin-left: 30px;
}
.contenedor_detalle_sub {
    margin-bottom: 30px;
}
@media ( max-width: 767px ) {
    .contenedor_detalle_sub {
        margin-bottom: 30px;
    }
}

@media ( max-width: 530px) {
    .contenedor_detalle_sub {
        margin-bottom: 50px;
    }
   
    
    
}
@media ( max-width: 390px) {
    .contenedor_detalle_sub {
        margin-top: -30px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        
    }
    .producto_descripcion {
        padding: 0px;
        margin: 20px;
        
    }
}
@media (max-width: 295px) {
    .contenedor_detalle {
      margin-top: 20px;
    }
}