@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');


.container_seccion {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    padding: 30px 50px 50px 50px;
    background-color: rgb(206, 195, 195);
} 
.img-seccion {
    width: 16rem;
    height: 16rem;
    margin: 0px 30px 0px 30px;
}
.tam-letra {
    font-family: 'Comic Neue', cursive;
    font-size: 25px;
}
.container_seccion img {
    box-shadow: 1px 8px 20px #000;
}
h1, h2, h3, h4{
    font-family: 'Lato', sans-serif;
}
@media  (max-width: 861px){
    .container_seccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .img-seccion {
        height: 14rem;
        width: 14rem;   
    }
    .tam-letra {
        text-align: center;
        font-size: medium;
        margin: 1rem;
    }
}
@media (max-width: 443px){
    .container_seccion {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .img-seccion {
        width: 200px;
        height: 200px;
    }

} 
@media (max-width: 390px) {
    .parrafo {
        padding: 0px;
        border: 0px;
    }
}

