@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');

.container-seccion {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    padding: 30px 50px 50px 50px;
    
} 
.img-seccion {
    width: 25rem;
    height: 25rem;
    border: 0px;
    border-radius: 50px;
    box-shadow: 2px 2px 4px gray;
}

.tam-letra {
    font-family: 'Comic Neue', cursive;
    margin-left: 1rem;
    font-size: 25px;
    text-align: center;
    padding-top: 8rem;
    
}
h1, h2, h3, h4{
    font-family: 'Lato', sans-serif;
}

@media  (max-width: 1025px){
     .img-seccion {
        height: 25rem;
        width:25rem;
    }
    .tam-letra {
        font-size: 25px;
        text-align: center;
        padding-top: 8rem;
    }
}
@media  (max-width: 861px){
    .container-seccion {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .img-seccion {
        height: 12rem;
        width: 12rem;   
    }
    .tam-letra {
        font-size: 1,5rem;
        text-align: center;
        padding-top: 2rem;
        font-size: medium;
        
    }
}

@media (max-width: 443px){
    .container-seccion {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .img-seccion {
        width: 200px;
        height: 200px;
    }
    .tam-letra {
        padding-top: 3rem;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: medium;

        
    }
} 

