.carrusel {
    box-shadow: 4px 4px 8px black;
    border-radius: 10px;
}
.contenedor_carrusel {
    width: 840px;
    height: 338px;
}
.carrusel_ancho_pagina {
    margin-bottom: 12px;
    
}
@media (min-width: 452px ) {
    .carrusel {
        margin:28px;
    }
}
@media (max-width: 985px) {
    
  }
@media (max-width: 768px) {
    .carrusel_ancho_pagina {
        margin-top: 15px;
    }
    .carrusel_ancho_pagina {
        margin-bottom: -20px;
    }
  }
@media (max-width: 629px) {
    .carrusel_ancho_pagina {
       margin-bottom: -60px;
    }
}
@media (max-width: 551px) {
    .carrusel_ancho_pagina {
        margin-bottom: -100px;
    }
    h2 {
        font-size:medium;
    }
}
@media (max-width: 451px) {
    .carrusel_ancho_pagina {
        margin-top: 50px;
        margin-bottom: -150px;
    }
}
@media (max-width: 390px) {
    .carrusel_ancho_pagina {
        margin-top: 80px;
    }
}
@media (max-width: 335px) {
    .carrusel_ancho_pagina {
        margin-bottom: -200px ;
    }
}

